.flex {
  display: flex;
  justify-content: space-between;
}

.flex__sa {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}

.flex__gap-small {
  display: flex;
  justify-content: space-between;
  gap: 1px;
}

.flex--align {
  display: flex;
  align-items: center;
}
