@mixin btn__LandingPage($bgc, $border) {
  padding: 1.3rem 3.2rem;
  text-transform: uppercase;
  color: #fff;
  background-image: linear-gradient(to rigth, #9b2def #99999f);
  background-color: $bgc;
  border: $border;
  border-radius: 4rem;
}
