.button__sign {
  width: 20rem;
  height: 4rem;
  border-radius: 2rem;
  border: 1px solid black;
  display: flex;
  justify-content: space-around;
  align-items: center;
  & p {
    padding-right: -8rem;
  }
  &.btn1 {
    background-color: #4267b2;
    border: none;
    color: #fff;
  }
}

.center__button {
  text-align: center;

  &--btn {
    padding: 0.8rem 2.6rem;
    border: 1px solid #fff;
    background-color: transparent;
    text-transform: uppercase;
    border-radius: 2rem;
    color: #fff;
    font-size: 1.4rem;
  }
}

// Landing page
