.landing__page--info {
  // padding: 20rem 30rem;
  width: 50%;
  margin: 0 auto;
  margin-top: 12rem;
  &--heading {
    color: #fff;
    width: 90%;
    margin: 0 auto;
    & h2 {
      font-size: 4.4rem;
    }
  }
  &--bottomText {
    color: #fff;
    text-align: center;
    & span {
      color: #32ccf6;
    }
  }
}

.landing__button--group {
  width: 70%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.landing__button {
  padding: 1.3rem 3.2rem;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 4rem;
  &.btn1 {
    background: linear-gradient(to right, #32ccf6, #8d3bef);
    border: none;
  }
  &.btn2 {
    background-color: transparent;
  }
}

//
.flow {
  margin-top: -50rem;

  &__img {
    &--icon {
      width: 90%;
      transition: all 1s;
      &:hover {
        transform: scale(1.2) skewY(10deg);
      }
    }
  }
  &__info {
    color: #fff;
    margin-top: 20rem;
    &--title {
      display: flex;
      align-items: center;
      padding-bottom: 2rem;
      width: 40%;
      // margin-left: 20rem;
      & img {
        width: 3rem;
      }
      & h2 {
        padding-left: 1rem;
      }
      &--text {
      }
    }
  }
}

.text__lorem {
  color: #fff;
  line-height: 2.3rem;
}

.listen__bgi {
  width: 100%;
  height: 64rem;
  background-image: url("/img/loanding_page/banner2.png");
  background-size: cover;
  background-position: center;
  &--text {
    padding-top: 20rem;
    width: 40%;
    & h2 {
      color: #ffffff;
      font-size: 3.6rem;
      padding-bottom: 2rem;
    }
  }
}

.find {
  &__info {
    &--text {
      &--item {
        padding-top: 20rem;

        & h2 {
          color: #ffffff;
          font-size: 3.6rem;
          padding-bottom: 2rem;
        }
      }
    }
  }
  &__img {
    width: 90%;
    &--icon {
      width: 100%;
    }
  }
}

.premium__group {
  &--flex {
    padding: 8rem 16rem;
    &--block {
    }
    &--sqr {
      width: 12rem;
      height: 12rem;
      border-radius: 50%;
      background-color: #363535;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    &--text {
      color: #fff;
      text-align: center;
      padding-top: 2rem;
      margin-left: -3rem;
      &--p {
        padding-top: 0.6rem;
      }
    }
  }
  &--squary {
    margin-top: 5rem;
    padding: 0 22%;
  }
  &--box {
    width: 32rem;
    height: 36rem;
    border: 0.3rem solid white;
    border-radius: 0.8rem;
    padding: 3rem;
    &.second {
      border: 0.3rem solid #32ccf6;
    }
    &--title {
      color: #fff;
      & p {
        padding-top: 1rem;
        & span {
          font-size: 3rem;
        }
      }
    }
    &--info {
      color: #fff;
      padding-top: 3rem;
    }
  }
  &--button {
    margin: 2rem auto;
    text-align: center;
  }
}

.text__lineHeight {
  padding-top: 2.5rem;
  &.second {
    & span {
      color: #32ccf6;
    }
  }
}

.premium--cost {
  & span {
    color: #32ccf6;
  }
}

// a tagi
.next-page {
  text-align: center;

  color: black;
  & span {
    color: #32ccf6;
  }
  margin-top: 1rem;
  display: inline-block;
}

// home page
.header {
  &__left {
  }
  &__list {
    display: flex;
    align-items: center;
    &--item {
      display: inline-block;
      &:not(:first-child) {
        padding-left: 3rem;
      }
    }
    &--link {
      color: #fff;
      &.border {
        padding: 0.7rem 2.4rem;
        border: 1px solid #32ccf6;
        color: #32ccf6;
        border-radius: 4rem;
      }
      &.border2 {
        padding: 0.7rem 5.4rem 0.7rem 2.4rem;
        background-color: #898b91;
        border-radius: 8rem;
      }
      &.ikki {
        display: flex;
        align-items: center;
        & span {
          padding-left: 1rem;
        }
      }
    }
  }
  &__right {
  }
}
