.u-text-center {
  text-align: center;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-medium-2 {
  margin-bottom: 6rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.colorWhite {
  color: #fff;
}

.fs36 {
  font-size: 3.6rem;
}

.fs20 {
  font-size: 2rem;
}
