.u-text-center {
  text-align: center;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-medium-2 {
  margin-bottom: 6rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}
.u-margin-bottom-small-2 {
  margin-bottom: 1rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.colorWhite {
  color: #fff;
}

.fs36 {
  font-size: 3.6rem;
}

.fs20 {
  font-size: 2rem;
}

.fs12 {
  font-size: 1.2rem;
}

.title--text {
  font-size: 2.4rem;
  color: #fff;
  font-weight: bold;
  &--right {
    font-size: 1.6rem;
    color: #d5d5d5;
  }
}

.icon--text {
  padding-top: 1rem;
  &--h3 {
    color: #fff;
    font-size: 1.4rem;
  }
  &--p {
    color: #99999f;
    font-size: 1.2rem;
    // padding-top: 0.4rem;
  }
  &.sqr {
    text-align: center;
    margin-left: -2rem;
  }
}
