.genry {
  &__item {
    display: inline-block;
    &:not(:first-child) {
      padding-left: 3rem;
    }
  }
  &__link {
    color: #fff;
    text-transform: uppercase;
    font-size: 1.6rem;
    font-weight: bold;
    &.big {
      font-size: 6.4rem;
      padding-right: 2rem;
    }
  }
}
