.main--home {
  background-color: #161a1a;
  padding: 0.8rem 0;
}

.card--top {
  width: 34rem;
}

.home__card {
  margin-top: 3rem;
  margin-bottom: 5rem;
}

.homeCard2 {
  width: 16rem;
}

.home__player {
  width: 100vw;
  margin-top: 7rem;
}

.video-player {
  width: 123rem;
}

.home__card--three {
  margin-top: 3rem;
}

.homeCard3 {
  width: 16rem;
}
