.banner__Landing {
  width: 100vw;
  height: 100vh;
  background-image: url("/img/loanding_page/banner.png");
  background-size: cover;
  background-position: center;
}

.main-landing {
  background-color: #161a1a;
  padding: 60rem 0;
}

.landing__listen {
  margin-top: 10rem;
}

.landing__find {
  margin-top: 10rem;
}

.landing__premium {
  margin-top: 10rem;
}
